img {
  width: 100%;
}

.bannerwrapper {
  position:relative;
}

@media screen and (max-width: 800px) {
    div.outline{
          -webkit-text-stroke-width: .5px;
    }

    body {
      width: 100vw;
      text-align: center;
    }
    div.bannerwords {
      bottom: 2vh;
      left: 5vh;
      top: 2vh;
      text-align: left;
      font-size: 2vh;
      color: Purple;
      padding-left: 5vw;
    }
    div.paragraph {
      font-size: 5px;
        color: black;
    }
    .btn {
      background-color: purple;
      color: white;
      padding: 10px 10px;
      border: none;
    }
    div.herowrapper {
      color: white;
      background-image: url("../../front-end-dev-test-assets/hero.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 20vh;
    }
    div.outline {
      color: white;

    }

    div#welcome {
      font-family: 'Open Sans', sans-serif;
      font-size: 4px;
      margin-top: 5px;
      text-align: center;
      color: white;
      position: relative;
      animation: fade-in 4s linear;
    }
    div#logo {
      margin-left: 5%;
      padding-top: 2%;
      width: 20vw;
    }
    h4 {
      font-family: 'Open Sans', sans-serif;
      fill: "none";
    }

    div.words {
      margin-top: 0px;
    }

    h2 {
      margin-left: auto;
      color: purple;
      font-size: 3vh;
      font-family: 'Open Sans', sans-serif;
      text-align: left;
      font-weight: bold;
    }
    p {
      margin-left: auto;
      margin-bottom: 5%;
      font-size: 2vh;
      display: block;
      text-align: left;
    }


    a {
      color: purple;
      font-size: 3vh;
      text-align: left;
    }

    div.backdrop {
      margin: 0;
    }


}

.btn {
    font-size: 200%;
    box-shadow: 2px 2px 2px black;
    font-weight: bold;-weight:
}

.bannerbtn {
  border: none;
}

.bannerbtn:hover {
  background-color: purple;
}

.bannerwords {
  position: absolute;
  display: block;
  bottom: 20vh;
  left: 35vh;
  top: 22vh;
  right: 5vh;
  text-align: left;
  font-size: 5vh;
  color: Purple;
  padding-left: 5vw;
}

.paragraph {
  font-size: 2vh;
    color: black;
}
