

.btn {
  color: white;
  background-color: purple;
}

.logo {
  max-width: 20vw;
  margin-left: 10%;
}


.herowrapper {
  color: white;
  background-image: url("../../front-end-dev-test-assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: auto;
}
